<div class="movie-details-container">
  <button [routerLink]="['/']" class="go-back-btn">
    <i class="material-icons">home</i>Back
  </button>
  @if(movie$ | async; as movie){
  <h1>{{ movie.title }}</h1>

  <div class="movie-description-container">
    <div class="movie-poster">
      <img [src]="movie.poster" alt="{{ movie.title }} poster" />
    </div>
    <div class="movie-description">
      <p><strong>Summary: </strong>{{ movie.summary }}</p>
    </div>
  </div>
  <h2 style="text-align: center">Details</h2>

  <table>
    <tbody>
      <tr>
        <th>Box office</th>
        <td>{{ movie.box_office | moneyAmount }}</td>
      </tr>
      <tr>
        <th>Budget</th>
        <td>{{ movie.budget | moneyAmount }}</td>
      </tr>
      <tr>
        <th>Duration</th>
        <td>{{ movie.duration | duration }}</td>
      </tr>
      <tr>
        <th>Producers</th>
        <td>{{ movie.producers }}</td>
      </tr>
      <tr>
        <th>Cinematographers</th>
        <td>{{ movie.cinematographers }}</td>
      </tr>
    </tbody>
  </table>
  }
</div>
