/* You can add global styles to this file, and also import other style files */
@import "../node_modules/mini.css/dist/mini-nord.min.css";

body {
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 1em clamp(2vw, 10%, 10vw);
  box-sizing: border-box;
}

@media (max-width: 480px) {
  body {
    padding: 1em clamp(4vw, 8%, 6vw);
  }
}

.go-back-btn {
  display: flex;
}