/* You can add global styles to this file, and also import other style files */
@import "../node_modules/mini.css/dist/mini-nord.min.css";

body {
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 1em 10em;
}


.go-back-btn {
  display: flex;
}